:host {
	display: flex;
	flex-direction: column;
}

.actions {
	top: -16px;
	position: absolute;
	display: flex;

	border: 1px solid #80a3ff;
}

.placeholder {
	border: 2px dashed #a9adb8;
    border-radius: 8px;
	min-height: 30px;
	height: 100%;
}

.column {
	height: 100%;
}