.container {    
	padding: 2.5rem 2rem 7.5rem 2rem;
	max-width: 80rem;
	margin: 0 auto;

	background: white;
}

h1 {
	font-size: 3em;
}

.code {
	overflow: auto;    
	border: 1px solid #cacaca;
    box-shadow: inset 0px 1px 2px 0px #a9a9a92b;
    background: #eee;
}