* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6em;
	background: rgb(60, 31, 40);
}

.title {
    font-family: 'Vollkorn', serif;
    font-size: 34px;
}

.paragraph {
    font-family: 'Lora', serif;
	text-align: justify;
}

.tiny {
    font-size: 1rem;
}

.small {
    font-size: 2rem
}

.medium {
    font-size: 4rem
}

.large {
    font-size: 6rem
}

img {
	vertical-align: bottom;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
}