* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6em;
}

.title {
    font-family: 'Vollkorn', serif;
    font-size: 34px;
}

.paragraph {
    font-family: 'Lora', serif;
	text-align: justify;
}

.tiny {
    font-size: 1rem;
}

.small {
    font-size: 2rem
}

.medium {
    font-size: 4rem
}

.large {
    font-size: 6rem
}
